* {
    margin:0%;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
    box-sizing:border-box;
}

body {
    background: #080808;
    color: #ffffff;
}

header {
    width: 20px;
    height: 10vh;
    background-image: url(background\ image.jpg);
    background-size:cover;
    background-position: center;
}
 .container{
padding: 10px 10
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }

{

}